@use './variables' as *;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 767px,
    lg: 991px,
    xl: 1200px,
    forLaptop: 1400px,
    xxl: 1640px,
);


@mixin media-breakpoint-down-xxl {
    @media (max-width: 1640px) {
        @content;
    }
}

@mixin media-breakpoint-down-forLaptop {
    @media (max-width: 1399) {
        @content;
    }
}

@mixin media-breakpoint-down-xl {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin media-breakpoint-down-lg {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin media-breakpoint-down-md {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin media-breakpoint-down-sm {
    @media (max-width: 575px) {
        @content;
    }
}




@mixin button($style: "") {
    color: $primary;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $primary;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    background: transparent;
    position: relative;
    transition: all .75s;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0;
        left: -40px;
        transform: skew(45deg);
        background-color: $primary;
        z-index: -1;
        transition: all .75s;
    }
    &:hover {
        color: $white;

        &::before {
            width: 200%;
        }
    }


    @include media-breakpoint-down-xxl {
        line-height: 26px;
        padding: 0 10px;
        font-size: 12px;
        min-height: 20px;
    }

    &:focus,
    &:active {
        box-shadow: none;
        outline: none;
    }

    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: none;
    }
}